/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.my_container {
    width: 80%;
    margin: auto;
}
button {
    margin: 1rem;
    padding: 0.25rem;
}

select {
    padding: 0.45rem;
}
/* #endregion Common */

/* #region Header */

/* #endregion Header */

/* #region Main */
.box {
    padding: 0.5rem;
    border: 1px solid black;
    width: calc( 100% / 10);
    /* Da cambiare '10' in modo da dividere la griglia in base alla scelta fatta */
}

/* .bg_primary {
    background-color: lightblue;
}

.bg_light {
    background-color: white;
} */

/* #endregion Main */

/* #region Footer */

/* #endregion Footer */